# ChatGPT suggested this file, so it has somethings that I dont really use, like .DS_Store...
# I ever had a Mac to use it

# Ignore log files
*.log

# Ignore... this thing
node_modules/

# Ignore system files
.DS_Store
Thumbs.db

# Ignore ISO files

*.iso

# Ignore temp files
*.tmp
*.swp

# Ignore build folders
/dist
/build

/custom-root
custom-root/
/custom-disk
custom-disk/

Website/
/Website
htdocs/
/htdocs

# Ignore personal configuration files
.env
*.local
*.img

# Ignore IDE and editor specific files
.vscode/
.vs/